In [1]:
import pandas as pd
import numpy as np
import fxcmpy
import datetime as dt

In [2]:
import fxcmpy

    # define access api token
access_token = "427c34263cffb2f79c1406d7f5ab5e12bf625946"

    # connect to fxcm server
con = fxcmpy.fxcmpy(access_token=access_token, log_level='error', server='demo', log_file='log.txt')

print(con.is_connected())

True

In [14]:
def convert_ohlc(tick, tf="5Min"):
    
    ohlc_m5 = tick.resample(tf).ohlc()
    ohlc_m5.rename(columns = {'open':'Open', 'high':'High', 'low': 'Low', 'close': 'Close'}, inplace = True)

    return ohlc_m5

In [101]:
con.subscribe_market_data('EUR/USD', (get_tick, ))

Initial  EUR/USD  seccess

In [102]:
con.unsubscribe_market_data('EUR/USD')

In [15]:
def get_tick(price, df):
    # send to manage tick for send to client
    manage_ohlc(df['Bid'], price['Symbol'], con)

In [6]:
import math
import datetime as dt
import pandas as pd
import json
import threading

db = mongo_connect() # mongodb connect 

save_seconds = 3600 # define the every time for save data to db
symbols_data = dict()

def get_ohlc(symbol, con):

    db_data = db['history'].find_one({ "Symbol": symbol })
    db_df = pd.DataFrame(json.loads(db_data['OHLC_M5']))
    db_df.index = db_df['Datetime']
    db_df = db_df.drop("Datetime", axis=1)

    # get missing data 
    db_last_date = math.floor(db_df[-1:].index[0] / 1000)
    db_last_date = db_last_date - db_last_date % 86400
    start = dt.datetime.utcfromtimestamp(db_last_date)
    current_date = math.floor(dt.datetime.now(dt.timezone.utc).timestamp())
    current_date = (current_date - current_date % 86400) + 86400
    end = dt.datetime.utcfromtimestamp(current_date)

    get_data = con.get_candles(symbol, period='m5', start=start, end=end)[['bidopen','bidclose','bidhigh','bidlow']]
    get_data.rename(columns = {'bidopen':'Open', 'bidhigh':'High', 'bidlow': 'Low', 'bidclose': 'Close'}, inplace = True)

    get_data.index = list(map(lambda time: math.floor(time / 10 ** 6), get_data.index.view(int)))

    # merge 2 dataframe 
    ohlc_m5 = pd.concat([db_df, get_data])
    ohlc_m5 = ohlc_m5[~ohlc_m5.index.duplicated(keep='last')]

    # store data in global variable
    global symbols_data
    ohlc_m5['Datetime'] = ohlc_m5.index
    ohlc_m5 = ohlc_m5.reset_index(drop=True)
    ohlc_m5_json = json.loads(ohlc_m5.to_json(orient='records'))
    symbols_data[symbol]['ohlc_m5'] = ohlc_m5_json

    print("Initial ", symbol, " seccess")

def manage_ohlc(tick, symbol, con):

     # check symbol is a new symbol to get ohlc or not
    global symbols_data, save_seconds
    if symbol not in symbols_data:
        symbols_data[symbol] = dict()
        symbols_data[symbol]['first_finished'] = False # check get first data has finished
        symbols_data[symbol]['ohlc_m5'] = None # initial ohlc 5 minute data of each symbol
        symbols_data[symbol]['save_time'] = 0 # recent save time

    # check first initial data has finished
    if symbols_data[symbol]['first_finished'] == False:
        symbols_data[symbol]['first_finished'] = True
        # initial first ohlc data
        thread_get_ohlc = threading.Thread(target=get_ohlc, args=(symbol, con,))
        thread_get_ohlc.start()
        thread_get_ohlc.join()
    
    # manage tick data on OHLC 5 minutes
    recent_ohlc_m5 = symbols_data[symbol]['ohlc_m5']
    if recent_ohlc_m5 != None:

        # get checking time to handle if new save time occur
        last_seconds = math.floor(int(tick[-1:].index.values[0]) / (10 ** 9))
        save_time = last_seconds - last_seconds % save_seconds  

        # convert tick to 1 minutes timeframe
        ohlc_m5 = convert_ohlc(tick)
        ohlc_m5['Datetime'] = ohlc_m5.index
        ohlc_m5 = ohlc_m5.reset_index(drop=True)

        last_steam = json.loads(ohlc_m5[-1:].to_json(orient='records'))[0] # tick steaming 
        last_recent = recent_ohlc_m5[len(recent_ohlc_m5) - 1] # lastest data store

        # update the lastest tick to global variable data 
        if last_steam['Datetime'] == last_recent['Datetime'] :
            recent_ohlc_m5[len(recent_ohlc_m5) - 1]['High'] = max(last_recent['High'], last_steam['High'])
            recent_ohlc_m5[len(recent_ohlc_m5) - 1]['Low'] = min(last_recent['Low'], last_steam['Low'])
            recent_ohlc_m5[len(recent_ohlc_m5) - 1]['Close'] = last_steam['Close']
        else :
            recent_ohlc_m5.append(last_steam.copy())

        symbols_data[symbol]['ohlc_m5'] = recent_ohlc_m5

        # set last steam tick to current time
        symbols_data[symbol]['last_seconds'] = last_seconds * 1000

        # # save data to DB
        # if symbols_data[symbol]['save_time'] != save_time:
    
        #     try :

        #         # drop last save data in db
        #         del_res = db['history'].delete_many({"Symbol": symbol})

        #         if del_res.acknowledged == True:
        #              # update save time
        #             symbols_data[symbol]['save_time'] = save_time
                    
        #             db['history'].insert_one({"Symbol": symbol, "OHLC_M5":  json.dumps(recent_ohlc_m5)})
        #             print(symbol, " was saved at timestamp > ", last_seconds)

        #     except: 
        #         # some error on save to db
        #         print("Can't update data of ", symbol ," to database")

In [68]:
x = db['history'].find_one( {"Symbol": "EUR/USD"} )
x = json.loads(x['OHLC_M5'])

In [64]:
start = dt.datetime.utcfromtimestamp(math.floor(1651034100000 / 1000))
current_date = math.floor(dt.datetime.now(dt.timezone.utc).timestamp())
current_date = (current_date - current_date % 86400) + 86400
end = dt.datetime.utcfromtimestamp(current_date)

print(start, end)

get_data = con.get_candles("EUR/USD", period='m5', start=start, end=end)[['bidopen','bidclose','bidhigh','bidlow']]
get_data.rename(columns = {'bidopen':'Open', 'bidhigh':'High', 'bidlow': 'Low', 'bidclose': 'Close'}, inplace = True)
get_data

2022-04-27 04:35:00 2022-04-28 00:00:00

                        Open    Close     High      Low
date
2022-04-27 04:35:00  1.06426  1.06419  1.06441  1.06416
2022-04-27 04:40:00  1.06420  1.06432  1.06443  1.06413
2022-04-27 04:45:00  1.06432  1.06460  1.06460  1.06431
2022-04-27 04:50:00  1.06461  1.06443  1.06461  1.06437
2022-04-27 04:55:00  1.06444  1.06491  1.06497  1.06440
2022-04-27 05:00:00  1.06491  1.06500  1.06505  1.06467
2022-04-27 05:05:00  1.06501  1.06491  1.06505  1.06485
2022-04-27 05:10:00  1.06492  1.06498  1.06506  1.06474
2022-04-27 05:15:00  1.06498  1.06527  1.06531  1.06490
2022-04-27 05:20:00  1.06526  1.06523  1.06534  1.06513
2022-04-27 05:25:00  1.06523  1.06530  1.06536  1.06516
2022-04-27 05:30:00  1.06530  1.06511  1.06541  1.06503
2022-04-27 05:35:00  1.06511  1.06499  1.06514  1.06488
2022-04-27 05:40:00  1.06498  1.06531  1.06540  1.06498
2022-04-27 05:45:00  1.06532  1.06500  1.06532  1.06489
2022-04-27 05:50:00  1.06500  1.06501  1.06505  1.06487
2022-04-27 05:55:00  1.06501  1.06499  1.06539  1.06470
2022-04-27 06:00:00  1.06499  1.06453  1.06512  1.06450
2022-04-27 06:05:00  1.06454  1.06348  1.06467  1.06346
2022-04-27 06:10:00  1.06348  1.06273  1.06351  1.06201
2022-04-27 06:15:00  1.06273  1.06269  1.06296  1.06251
2022-04-27 06:20:00  1.06269  1.06318  1.06325  1.06262

In [4]:
from pymongo import MongoClient
import pymongo

def mongo_connect():

    try:
         # Provide the mongodb atlas url to connect python to mongodb using pymongo
        CONNECTION_STRING = "mongodb+srv://aow:aow@aow.74qmf.mongodb.net/aow?retryWrites=true&w=majority"

        # Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
        client = MongoClient(CONNECTION_STRING)

        # Create the database for our example (we will use the same database throughout the tutorial
        return client['aow']

    except pymongo.errors.ServerSelectionTimeoutError as err:
        # return if cannot connect mongodb
        return -1

In [133]:
start = dt.datetime(2022, 4, 1)
end = dt.datetime(2022, 4, 27)
data = con.get_candles("EUR/USD", period='m5', start=start, end=end)[['bidopen','bidclose','bidhigh','bidlow']]
data.rename(columns = {'bidopen':'Open', 'bidhigh':'High', 'bidlow': 'Low', 'bidclose': 'Close'}, inplace = True)
data.index = list(map(lambda time: math.floor(time / 10 ** 6), data.index.view(int)))
data['Datetime'] = data.index
data = data.reset_index(drop=True)
data = json.loads(data.to_json(orient='records'))

In [13]:
x = db['history'].find_one( {"Symbol": "EUR/USD"} )
x = json.loads(x['OHLC_M5'])

In [14]:
len(x)

18181

In [53]:
import copy
# the comment timeframe feature will update in the future
timeframe = {
    # "1Min": 1,
    "5Min": 5,
    "10Min": 10,
    "15Min": 15,
    "30Min": 30,
    "45Min": 45,
    "1H": 60,
    "2H": 120,
    "3H": 180,
    "4H": 240,
    "8H": 480,
    "12H": 720,
    "1D": 1440,
    # "1W": 10080, # need to have offset because the present start of the week is thuesday
    # "1M": "month"
}

def ohlc_to_ohlc(data, from_tf, to_tf):

    try: 

        if timeframe[from_tf] > timeframe[to_tf]:
            print("to timeframe must be greater than from timeframe")
            return 0

        elif timeframe[from_tf] == timeframe[to_tf]:
            return pd.DataFrame(data).set_index('Datetime')

        # copy the data to new variable to prevent data change by reference
        ohlc_data = copy.deepcopy(data)
        # sort with accending time 
        ohlc_data = sorted(ohlc_data, key=lambda d: d['Datetime'], reverse=False) 
        # change time from milliseconds to seconds 
        for d in ohlc_data: d['Datetime'] = math.floor(d['Datetime'] / 1000)

        tf_seconds = timeframe[to_tf] * 60

        for d in ohlc_data: d['Datetime'] = d['Datetime'] - d['Datetime'] % tf_seconds

        # find the interval to time
        start_list = [0]
        [start_list.append(idx + 1) for idx in range(len(ohlc_data[:-1])) if ohlc_data[idx]['Datetime'] != ohlc_data[idx + 1]['Datetime']]
        start_list.append(len(ohlc_data))

        new_ohlc = []
        def form_data(idx):

            temp_dict = {}
            tf_data = ohlc_data[start_list[idx]: start_list[idx + 1]]

            # add data to dict
            temp_dict['Datetime'] = tf_data[0]['Datetime'] * 1000
            temp_dict['Open'] = tf_data[0]['Open']
            temp_dict['High'] = max(tf_data, key=lambda d:d['High'])['High']
            temp_dict['Low'] = min(tf_data, key=lambda d:d['Low'])['Low']
            temp_dict['Close'] = tf_data[len(tf_data) - 1]['Close']

            new_ohlc.append(temp_dict)

        list(map(form_data, range(len(start_list[:-1]))))

        return pd.DataFrame(new_ohlc).set_index('Datetime')

    except: 

        print("Some Error on convert ohlc")

In [56]:
ohlc_to_ohlc(x, "5Min", "1D")

                  Open     High      Low    Close
Datetime
1643673600000  1.12286  1.12781  1.12202  1.12722
1643760000000  1.12723  1.13293  1.12661  1.12988
1643846400000  1.12988  1.14507  1.12663  1.14349
1643932800000  1.14351  1.14831  1.14108  1.14500
1644105600000  1.14616  1.14686  1.14507  1.14539
...                ...      ...      ...      ...
1650758400000  1.08437  1.08509  1.07952  1.08086
1650844800000  1.08087  1.08113  1.06959  1.07119
1650931200000  1.07118  1.07380  1.06345  1.06419
1651017600000  1.06420  1.06541  1.05221  1.05537
1651104000000  1.05536  1.05536  1.04801  1.05270

[75 rows x 4 columns]

packet queue is empty, aborting
packet queue is empty, aborting
packet queue is empty, aborting

In [52]:
x[-1:]

[{'Open': 1.05291,
  'Close': 1.0527,
  'High': 1.05291,
  'Low': 1.05254,
  'Datetime': 1651129500000}]

In [58]:
gg = [1, 2, 3, 4]
gg[-2:-1][0]

3